@import url('https://fonts.googleapis.com/css?family=Quicksand:500');

body{
	background-image:url(http://1.bp.blogspot.com/-cynjeO46IAM/UBUmNk0NnxI/AAAAAAAAAqg/jpqpb_LMn6U/s1600/tR2hW.jpg);
	background-repeat: no-repeat;
}

.circle, .r1c, .r2c, .r3c, .r4c{
	border: black 0px solid;
	width: 90px;
	height: 90px;
	border-radius: 90px;
	fill: lightred;
	
	position: absolute;
	margin: auto;
	
	background-size: 100px 100px;
	background-repeat: no-repeat;
	background-position: -5px -5px;

	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	transition: 0.1s ease-in-out;
}

.r1c, .r2c, .r3c, .r4c {
	animation: around 29.9s infinite ease-in; 	 
	animation-direction:reverse;
}

.r1c.off, .r2c.off, .r3c.off, .r4c.off {
	
   -ms-animation-play-state:paused;
   -o-animation-play-state:paused;
   -moz-animation-play-state:paused;
   -webkit-animation-play-state:paused;
  animation-play-state: paused;
}

.circle{
	background-image: url(https://media.giphy.com/media/Ry0QlB6DwmCZO/giphy.gif);
	background-position: -9px -9px;
}

.r1c:hover, .r2c:hover, .r3c:hover, .r4c:hover{
	width:108px;
	height: 108px;
	border-radius:108px;
	transition: 0.07s ease-in;
	background-size: 120px 120px;
	background-position: -5.4px -5.4px;
}

.r1c{	
	position: relative;
	overflow: hidden;
	
	top: 200px;
	background-image: url("http://icons.iconarchive.com/icons/xenatt/the-circle/512/App-Google-icon.png");
}

.r2c{
	top: -400px;
	background-image: url(https://www.shareicon.net/data/512x512/2015/09/30/109354_media_512x512.png);
}

.r3c{
	left: 400px;
	background-image: url(https://cdn.worldvectorlogo.com/logos/facebook-3.svg);
}

.r4c{
	right: 400px;
	background-image: url("https://lh3.googleusercontent.com/mIeBLLu8xOi-1bPbtRO_HYb5d1VchJDLDH4hebMO7R-GNOfueGDtHCKgPWFjwyCAORQ=w300");
}

.r1l, .r2l, .r3l, .r4l{
	border: white 1px solid;
	width: 0px;
	height: 90px;
	border-radius: 90px;
	fill: lightred;
	
	position: absolute;
	margin: auto;
	
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.r1l{
	top: 200px;
}
.r2l{
	top: -200px;
}

.r3l{
	width: 90px;
	height: 0px;
	
	left: 200px;
}

.r4l{
	width: 90px;
	height: 0px;
	
	left: -200px;
}

.parent.off {
   -ms-animation-play-state:paused;
   -o-animation-play-state:paused;
   -moz-animation-play-state:paused;
   -webkit-animation-play-state:paused;
  animation-play-state: paused;
}

.parent {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	animation: around ease;
	animation-duration:30s;
}


@keyframes around{
	0% {transform: rotate(0deg);}
	25%	{transform: rotate(90deg);}
	
	25% {transform: rotate(90deg);}
	50%	{transform: rotate(180deg);}
	
	50% {transform: rotate(180deg);}
	75%	{transform: rotate(270deg);}
	
	75% {transform: rotate(270deg);}
	100%	{transform: rotate(360deg);}
	}

#wide{
	color:white;
	font-size: 60px;
	font-family: 'Quicksand', sans-serif;
	flex: 0.5;
  background: lightblue;
	background-color:rgba(51,153,255,0.5);
}

#narrow{
	color:white;	
	font-size: 60px;
	flex: 0.5;
	font-family: 'Quicksand', sans-serif;
	
  background: lightblue;
	background-color:rgba(51,153,255,0.8);
}

.name{
	position: relative;
	right:-200px;
	font-size: 60px;
	font-family: 'Quicksand', sans-serif;
}
.rotate-text{
	color:white;	
	font-size: 60px;
	flex: 0.5;
	font-family: 'Quicksand', sans-serif;
	
  background: lightblue;
	background-color:rgba(51,153,255,0.8);
}

#parent {
  display: flex;
	background-color:red;
}

.juan {
	font: 40px/50px Arial;
	text-align:center;
};
.rotate-text {
display:inline-block;
background-color:lightgreen;
}

.rotating{
	float:right;
  overflow: hidden;
  position: relative;
  height: 60px;
}

.inside{
	display: inline-block;
  color: lightblue;
  position: relative;
  white-space: nowrap;
  top: 0px;
  left: 0;
  animation: move 5s;
  animation-iteration-count: infinite;
	animation-delay: 1s;
}

@keyframes move {
0%  { top: 0px; }
20% { top: -70px; }
40% { top: -135px; }
60% { top: -150px; }
80% { top: -200px; }
}

.name{
	color:white;
}

.options{
	width:400px;
	height:450px;
	color:white;
	padding:15px 10px 0px 5px;
	
	float:left;
	position: relative;
	top:-340px;
	left:20px;
	border: 0px lightblue solid;
	border-radius:20px;
}

.gtext, .atext, .ytext, .ftext{
	border-radius: 20px;
	background-color:rgba(255,255,255,0.5);
	border: 0px;
	width:140px;
	height:25px;
	color:white;
	font-family: 'Quicksand', sans-serif;
	font-size:20px;
}

li{
	padding:7px;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

button{
	fill:red;
}

.setText{
	text-align:center;
	font-size:20px;
}

button{
	color:red;
}
